// SCSS Variables

$orange: #ff8333;
$red: #b31b1b;
$yellow: #ffd700;

$white: #ffffff;
$gray-light: #dedede;
$gray-medium: #7f7f7f;
$gray-dark: #404040;
$black: #000000;

$green-light: #90ee90;
$green-medium: #6dd983;
$green-dark: #32cd32;

$beige-light: #fbeeac;
$beige-medium: #f8de7b;

$blue-light: #0bb3d9;
$blue-medium: #077ebe;
$blue-dark: #035aa6;

$primary: $green-dark;
