.titleSwal {
  font-size: 28px;
  color: $gray-dark;
}

.subtitleSwal {
  font-size: 17px;
  color: $gray-dark;
}

.iconSwal {
  font-size: 1.5em;
}

.buttonsSwal {
  border-radius: 0.625em !important;
  padding: 0.25em 1em !important;
}
